
.recipe-list {
    display: grid;
    justify-content: center;
    align-content: flex-start;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 16px;
    padding: 16px;
    background-color: white;
}